@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #000;
    color: #f0f0f0;
    line-height: 1.6;
    padding: 20px;
    
}
.navbar{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
}
.nav-links li{
    padding-left: 20px;
    list-style: none;
    display: inline-block;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
hr{
    border: none;
    height: 2px;
    background-color: #444;
}
.container-intro{
    display: flex;
    padding: 100px; 
}
.container-intro p{
    margin-bottom: -15px;
    text-align: left;
}
#name{
    font-size: 50px;
}
.info h3{
    padding-top:40px;
    color:#c6c6c6;
}
#lang{
    margin-top: -15px;
}
.img{
    padding-left: 400px;
}
.img img{
    height: 20rem;
    height: 20rem;
    border-radius:50%
}

main{
    padding:100px;
}