body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    
}

header{
    background:#22e3c9;
    color:white;
    padding: 2rem;
    text-align: center;
}
section{
    padding: 1.5rem;
    margin: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

h1,h2 {
    color: #444;
}
a{
    color: #007bff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.project{
    margin-bottom: 1.5rem;
}